name: update-veekun-data

on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: cerbottana
    - name: Clone pokemon showdown
      uses: actions/checkout@v2
      with:
        repository: smogon/pokemon-showdown
        path: pokemon-showdown
    - name: Set up python 3.7.9
      uses: actions/setup-node@v2
    - name: Build pokemon showdown
      run: pokemon-showdown/build
    - name: Things
      run: |
        echo 'const fs = require("fs");
              const Sim = require("./pokemon-showdown");
              fs.writeFileSync("out.json", JSON.stringify(Sim.Dex.data.Pokedex, null, 2));
        ' | node -
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@45c510e1f68ba052e3cd911f661a799cfb9ba3a3
      with:
        path: cerbottana
        commit-message: 'Showdown: update data'
        title: 'Showdown: update data'
        branch: showdown-update-data
